{% extends "base.html" %}

{% block title%} Math &amp; Pencil - Team {% endblock %}

{% block header %}
	{% include "misc/header.html" with primary="about" %}
{% endblock %}

{% block content %}
	<style>
		html {
			border:0.25em solid #fff;
			height:100%;
			overflow:hidden;
		}
		
		body {
			background:url(/static/images/bkg-team.jpg) no-repeat center center;
			-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
		}
		.container.header {
			border:0;
		}
		
		p {
			font-size:0.85em;
		}
		
		.container > header > span,
		.container > header nav a {
			color:#fff;
		}
	</style>
	
	<div class="main-content">
		<table class="tbl_content_header">
			<tr>
				<td>
					<h1 class="alt">Team</h1>
				</td>
				
				<td>
					<a class="icon-eye-blocked hideshow" id="hideshow"></a>
				</td>
			</tr>
		</table>
		
		<div id="content">
			<br/>
			<p><span>Math &amp; Pencil</span> was started by <b>Joseph Misiti</b> and <b>Timothy Hungerford</b> in 2011. The company exists to be the architects, engineers and designers behind a plethora of digital business developments.  <i>If you can dream up the idea, we can build it with you.</i></p>
			
			<div class="border_main"></div>
			
			<ul class="lst_team">
				<li>
					<a name="joe"></a>
					<a name="math"></a>
					<span class="txt">the Math</span></br></br>
					<p>Joe loves data. He spent several years developing data models for the US intelligence community – from statistical algorithms to detect lies in airport security lines to increasing the accuracy of missile guidance systems. He is the CTO for Dukemail and Fetcher and is an owner of Math &amp; Pencil. He makes everything work, adding gears and algorithms to what otherwise appears to be a magical black box.
					</p>
					
					<p>Joe studied electrical engineering at University of Pittsburgh and later completed a master's in applied math at the University of Maryland. Since then, he's worked for several large defense contractors and government security agencies doing all sorts of super secret projects. Joe pairs his mathematical brilliance with a strong palette for delicious libations and mellifluous musicality (you'll find him often at many of the L.E.S watering holes as well as a plethora of musical venues like the Cake Shop and Death by Audio).</p>
					
					<dl>
						<dt>Email:</dt>
						<dd>joseph.misiti@mathandpencil.com</dd>
						<dt>Twitter:</dt>
						<dd><a href="https://twitter.com/josephmisiti">@josephmisiti</a></dd>
						<dt>Github:</dt>
						<dd><a href="https://github.com/josephmisiti">josephmisiti</a></dd>
						<dt>Stack Overflow:</dt>
						<dd><a href="http://stackoverflow.com/users/323578/josephmisiti">josephmisiti</a></dd>
						<dt>Personal website:</dt>
						<dd><a href="http://www.josephmisiti.com/">josephmisiti.com</a></dd>
					</dl>
				</li>
				
				<li 
				style="background:url(/static/images/bkg-joe.jpg) no-repeat center center;
						-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
				">
				</li>
			</ul>
			
			<div class="border_main"></div>
			
			<ul class="lst_team">
				<li>
					<a name="tim"></a>
					<a name="pencil"></a>
					<span class="txt">the Pencil</span></br></br>
					<p>Tim can be found climbing rocks, trekking international landscapes, surfing off shore breaks, chopping wood with his father-in-law or riding his bike through rain, snow and shine... all which usually include his amazing wife, beautiful daughter, family and friends. He is the Chief Designer at Fetcher and Dukemail as well as an owner of Math &amp; Pencil.</p>
					
					<p>Tim studied marketing at Indiana University and has designed and built applications for medical devices, bicycle shops, farms and myriads of other online products and businesses. He resides in Western New York, splitting time between Buffalo and the small town of Medina - where he's active in the restoration of 19th century historic buildings. You'll often find him alongside Joe enjoying wine and cheap beer while listening to the sounds of Hop Along, Joe Pug, Pat Carroll, Saintseneca, Tom Waits and so on.
					</p>
				</li>
				
				<li 
				style="
						background:url(/static/images/bkg-tim.jpg) no-repeat center center;
						-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
				">
				</li>
			</ul>
			
			<div class="border_main"></div>
			
			<ul class="lst_team">
				<li>
					<a name="andrew"></a>
					<span class="txt">the Kid</span></br></br>
					<p>Andrew has been working with Math &amp; Pencil since the early days of the company, starting out as an intern in NYC back in 2011. Between now and then he took a job at a payroll company where he led development for over a year before returning full time. He currently resides in western New York but travels to NYC monthly.</p>

					<p>When Andrew is not pounding away at his keyboard you will most likely find him at the conservation club mercilessly slaying clay pigeons or at the local watering hole where his preferred drink is Busch Light.
				</li>
				
				<li 
				style="
						background:url(/static/images/bkg-andrew.jpg) no-repeat center center;
						-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
				">
				</li>
			</ul>

			<div class="border_main"></div>
			
			<ul class="lst_team">
				<li>
					<a name="scott"></a>
					<a name="architect"></a>
					<span class="txt">the Architect</span></br></br>
					<p>Scott wants your software to work.  Every time, on time, he strives to deliver a product that not only gives the correct answer but makes you happy. Because it's fast, powerful, pretty, or anything else you want it to be.</p>

					<p>Scott has been tackling complex software issues since he was in middle school, when he ran a BBS and hacked on the source code (and got hacked, before it was cool).  When he was 12, local professional sys admins would turn to him when they were stumped.  By 19, he was leading a team creating an innovative speech recognition-based warehouse management system.  After side ventures developing bird-song recognition software, <a class="green" href="http://www.jitbpuzzles.com" target='_blank'>hand-cutting wooden jigsaw puzzles</a>, and building peer-to-peer sensor networks for the Department of Defense, he returned to the online world.</p>
					
					<p>After a quarter of a century, he's still just as passionate about developing software.  At Math and Pencil, he strives to anticipate, understand, and solve client needs, sometimes even before they know they 
					have them.</p>

					<dl>
						<dt>Email:</dt>
						<dd>scott.stafford@mathandpencil.com</dd>
						<dt>Stack Overflow:</dt>
						<dd><a href="http://stackoverflow.com/users/237091/scott-stafford">Scott Stafford</a></dd>
						<dt>Github:</dt>
						<dd><a href="https://github.com/ses4j">ses4j</a></dd>
					</dl>
				</li>
				
				<li 
				style="
						background:url(/static/images/bkg-scott.jpg) no-repeat center center;
						-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
				">
				</li>
			</ul>
			
			
			<div class="border_main"></div>
			
			<button class="action_redirect" type="button" data-url="{% url 'contact' %}">
				<span class="icons icon-keyboard"></span> Contact <span class="txt">Math &amp; Pencil</span>
			</button>
		</div>
	</div>
	
	{% include "misc/mathandpencil-js.html" %}
	
	{% if not DEBUG %}
		<script type="text/javascript">
			mixpanel.track("MAP-TEAM");
			mixpanel.track( "PV" , { "name" : "MAP-TEAM" });
		</script>
	{% endif %}
	
{% endblock %}