.cbp-ig-grid.projects li:nth-child(2) {
	background:url(/static/images/screenshot-employii-detail-3.jpg) no-repeat center center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
}
.cbp-ig-grid.projects li:nth-child(3) {
	background:url(/static/images/screenshot-fetcher.jpg) no-repeat center center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
}
.cbp-ig-grid.projects li:nth-child(4) {
	background:url(/static/images/screenshot-dukemail.jpg) no-repeat center center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
}
.cbp-ig-grid.projects li:nth-child(5) {
	background:url(/static/images/screenshot-rewire.jpg) no-repeat center center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
}


.cbp-ig-grid.branding li:nth-child(2) {
	background:url(/static/images/screenshot-businesscards.jpg) no-repeat center center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
}
.cbp-ig-grid.branding li:nth-child(3) {
	background:url(/static/images/screenshot-identity.jpg) no-repeat center center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
}


.cbp-ig-grid.websites li:nth-child(2) {
	background:url(/static/images/screenshot-elementcycles-detail-1.jpg) no-repeat center center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
}
.cbp-ig-grid.websites li:nth-child(3) {
	background:url(/static/images/screenshot-teresamisiti-detail-1.jpg) no-repeat center center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;
}