{% extends "base.html" %}

{% block header %}
	{% include "misc/header.html" %}
{% endblock %}


{% block content %}
	<div id="loadingbar-frame"></div>
	
	<form method="post" id='js-form'> {% csrf_token %}
		<input type="hidden" name="blog_id" value="{{blog_id}}">
		<div class="main-content">
			<div class="blog-entry no_border">
				<div class="title">
					<input type="text" name="title" placeholder="Enter Title" value="{{post.title|default_if_none:""}}"/>
				</div>
				<br/>
				
				<div class="date">
					<input type="text" name="date" placeholder="Enter Date or Leave Blank to use Today's Date"/>
				</div>
				<br/>
				
			    <div class="description">
			                                          <textarea type="text" name="description" placeholder="Enter Description">{{post.description|default_if_none:""}}</textarea>
			    </div>
				
				<br/>
				<br/>
				
				<button type="submit" id="js-submit">
					Continue + Upload Photos
				</button>
			</div>
		</div>
	</form>
{% endblock %}