{% extends "base.html" %}

{% block header %}
	{% include "misc/header.html" %}
{% endblock %}

{% block content %}
	<div class="blog">
		<section class="blog-entry">
			<div class="title">{{post.title}}</div>
			
			<div class="date">{{post.date}}</div>
			
			<div class="description">{{post.description}}</div>
			
			{% if user.is_superuser %}
			<!-- IF ADMIN LOGGED IN - SHOW DELETE POST BUTTON BELOW -->
			<button class="delete js-delete" data-post_id="{{post.id}}" type="submit">
				<span class="icon-remove2"></span> Delete Post
			</button>
			<!-- END - DELETE POST BUTTON -->
			{% endif %}
			
			<div class="description top_pad">{{blog_post.description}}</div>
			
			<ul class="cbp-ig-grid blog">
				{% if blog_post.photos.upload1 %}
				<li style="background:url({{blog_post.photos.upload1}}) no-repeat center center;
				-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;">
					<a href="{{blog_post.photos.upload1}}" target="_blank">
						<h3 class="cbp-ig-title">View Image</h3>
						<span class="cbp-ig-category">Click to view image</span>
					</a>
				</li>
				{% endif %}
				
				{% if blog_post.photos.upload2 %}
				<li style="background:url({{blog_post.photos.upload2}}) no-repeat center center;
				-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;">
					<a href="{{blog_post.photos.upload2}}" target="_blank">
						<h3 class="cbp-ig-title">View Image</h3>
						<span class="cbp-ig-category">Click to view image</span>
					</a>
				</li>
				{% endif %}
				
				{% if blog_post.photos.upload3 %}
				<li style="background:url({{blog_post.photos.upload3}}) no-repeat center center;
				-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;">
					<a href="{{blog_post.photos.upload3}}" target="_blank">
						<h3 class="cbp-ig-title">View Image</h3>
						<span class="cbp-ig-category">Click to view image</span>
					</a>
				</li>
				{% endif %}

				{% if blog_post.photos.upload4 %}
				<li style="background:url({{blog_post.photos.upload4}}) no-repeat center center;
				-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover;background-size:cover;">
					<a href="{{blog_post.photos.upload4}}" target="_blank">
						<h3 class="cbp-ig-title">View Image</h3>
						<span class="cbp-ig-category">Click to view image</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</section>
	</div>
	
	<div class="border_main blog_posts"></div>
{% endblock %}