{% extends "base.html" %}

{% block header %}
	{% include "misc/header.html" %}
{% endblock %}

{% block content %}
	<div id="loadingbar-frame"></div>
	
	<form method="post" id='js-form'> {% csrf_token %}
		<input type="hidden" name="blog_id" value="{{blog_id}}">
		<div class="main-content">
			<div class="blog-entry no_border">
				<ul class="cbp-ig-grid uploads">
					<li id='js-upload-1'>
						{% include "misc/uploader_1.html" %}
					</li>
					
					<li id='js-upload-2'>
						{% include "misc/uploader_2.html" %}
					</li>
					
					<li id='js-upload-3'>
						{% include "misc/uploader_3.html" %}
					</li>
				</ul>
				
				<ul class="cbp-ig-grid">
					{% if post.photos.upload1 %}
						<li style="
							background:url({{post.photos.upload1}}) no-repeat center center;
							-webkit-background-size:cover;
							-moz-background-size:cover;
							-o-background-size:cover;
							background-size:cover;">
						</li>
					{% endif %}
					
					{% if post.photos.upload2 %}
						<li style="
							background:url({{post.photos.upload2}}) no-repeat center center;
							-webkit-background-size:cover;
							-moz-background-size:cover;
							-o-background-size:cover;
							background-size:cover;">
						</li>
					{% endif %}
					
					{% if post.photos.upload3 %}
						<li style="
							background:url({{post.photos.upload3}}) no-repeat center center;
							-webkit-background-size:cover;
							-moz-background-size:cover;
							-o-background-size:cover;
							background-size:cover;">
						</li>
					{% endif %}
				</ul>
				<br/>
				<br/>
				
				<button type="submit" id="js-submit">
					Save + Create Post
				</button>
			</div>
		</div>
	</form>
{% endblock %}